

  <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Registrar RESTAURANTE</mat-card-title>
      </mat-card-header>

      <form [formGroup] = "form2" (submit)="registrarRestaurante()"  class="example-form">

        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="nombre" formControlName="nombre">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput placeholder="aforo" formControlName="aforo" type="text">
          </mat-form-field>

          <mat-form-field class="example-full-width">
              <input matInput placeholder="direccion" formControlName="direccion" type="text">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="telefono" formControlName="telefono" type="text">
            </mat-form-field>

        </mat-card-content>

        <button mat-stroked-button color="red" class="btn-block">Crear Restaurante</button>

      </form>
    </mat-card>
  </div>

